p

{
    
    color: brown;
    
}

body

{  
    background-color: burlywood; font-size:25 ;  
    
}

#div1

{background-color: coral;
    color: lavenderblush;
    font-size: 50;
    
    

}
